**/.eslintignore
**/.eslintrc.json
**/jsconfig.json
**/*.map
**/*.ts
**/tsconfig.base.json
**/tsconfig.json
**/tsconfig.tsbuildinfo
fixtures/
scripts/**
test/**
client/src/**
client/testFixture
server/src/**
.github
.gitignore
.gitignore
.idea
.travis.yml
.vscode/**
.vscode-test/**
contributing.md
client/node_modules/**
!client/node_modules/semver/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**

